/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    opacity: 0;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    opacity: 1;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

#slider-mini-2 .slick-prev, #slider-mini-2 .slick-next {
    top: 30%;
    width: 35px;
    height: 35px;
    /*background: url(../images/flcRight2.png);*/
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 9;
}
#slider-mini-2 .slick-prev {
    transform: rotate(180deg);
    left: -5px;
}
#slider-mini-2 .slick-next {
    right: -5px;
}
#slider-mini-2 .slick-prev:before {
    content: ' ';
}
#slider-mini-2 .slick-next:before {
    content: ' ';
}

#slider .slick-dots {
    position: relative;
    z-index: 99;
    bottom: 11%;
    margin: 0 auto;
    width: 87%;
    max-width: 1670px;
    padding: 0 15px;
    text-align: left;
}
#slider .slick-dots li {
    display: inline-block!important;
    cursor: pointer!important;
    margin: 0px;
    margin-right: 10px;
}
#slider .slick-dots li button:before {
    font-size: 12px!important;
    opacity: 0.5!important;
    color: #ffffff!important;
}
#slider .slick-dots li.slick-active button:before {
    opacity: 0.9!important;
}

@media only screen and (max-width:700px) {
#slider-mini-2 .slick-prev, #slider-mini-2 .slick-next {
    top: 30%;
    width: 35px;
    height: 35px;
    background: url(../images/flcRight2.png);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 9;
}
#slider .slick-dots {
    width: 100%;
}
}